body {background-image: url(imagem.jpg);
    background-size: cover;
}

main#container {border-width: 1px; border-style: solid;
    background-color: rgb(25, 132, 158);
}

h1.titulo {color: black;
}

p.frase {color: black;
}

p.autor {color: white;
}